@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.navbar-container{
    display: contents;
}
    .navbar-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 0;
        gap: 10px;
        width: 100%;
        height: 105px;
        background: #484848;
        margin: 0;
    }

    .navbar-links li {
        display: inline-block;
    }

    .navbar-links li:after {
        content: '|';
        color: black;
        display: inline-block;
        vertical-align: top;
    }

    .navbar-links li:last-child:after {
        content: none;
    }

    .navbar-links a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 200px;
        height: 100px;
        flex: none;
        flex-grow: 0;
        font-family: 'Ubuntu Condensed', sans-serif;
        letter-spacing: 2px;
        position: relative;
        margin: 0 150px 0 100px;
        font-size: 17px;
        text-transform: uppercase;
        transition: color .2s;
    }
.navbar-links a:last-child {
    margin-left: auto;
    margin-right: 25px;
}

    .navbar-links a, .navbar-links a:visited {
        color: white;
    }

    .navbar-links a.current, .navbar-links a:hover {
        color: #0788D1;
    }

    .navbar-links a:before,
    .navbar-links a:after {
        content: "";
        position: absolute;
        height: 4px;
        top: auto;
        right: 50%;
        bottom: -5px;
        left: 50%;
        background: #0788D1;
        transition: .3s;
    }

    .navbar-links a:hover:before, .navbar-links .current:before {
        left: 0;
    }

    .navbar-links a:hover:after, .navbar-links .current:after {
        right: 0;
    }

    .navbar-logo {
        width: 251px;
        height: 105px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

@media (max-width: 765px) {
    .navbar-links {padding-top: 0;}
    .navbar-links li {display: block;}
    .navbar-links li:after {content: none;}
    .navbar-links a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}